Source: wallfi
Section: x11
Priority: extra
Maintainer: Luigi Guevara <luigi.t.guevara@killua.me>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 8.0.0),
               valac-0.16 | valac (>= 0.16)
Standards-Version: 3.9.3

Package: wallfi
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Set wallpapers based on Wi-Fi
 New release.
